{% extends 'base.html' %}
{% load nodes %}
{% load humanize %}

{% block title %}- {{ node.path }}{% endblock %}

{% block content %}
<h1 class="ui left floated header">
	<i class="terminal icon"></i>
	<div class="content">
		Browse Scheduler
		<div class="sub header">Browse for any job or repository.</div>
	</div>
</h1>

<div class="ui clearing divider"></div>

<table class="ui celled striped table">
	<thead>
		<tr>
			<th colspan="4">
				<div class="ui breadcrumb">
          {% for a in node.ancestors %}
					<div class="divider">/</div>
          {% if node == a %}
            {{ a.name }}
          {% else %}
            <a class="section" href="{{ a.link }}">{{ a.name }}</a>
          {% endif %}
          {% endfor %}
				</div>
			</th>
		</tr>
	</thead>
	<tbody>
		{% if children.count > 0 %}
		{% for node in children %}
    {% if node.name %}
		<tr>
			<td class="collapsing">
        <i class="{{ node.icon }} icon"></i>
				<span style="color:grey">{{ node.mode | filemode }}</span>
			</td>
			<td style="color:grey" class="collapsing">{{ node.user }}:{{ node.group }}</td>
			<td><a href="{{ node.link }}">{{ node.name }}</a></td>
			<td style="color:grey" class="right aligned collapsing">Created {{ node.ctime | naturaltime }}</td>
		</tr>
    {% endif %}
		{% endfor %}
		{% else %}
		{# Should we display this? Or add the . and .. folders? #}
		<tr><td colspan=3 class="disabled center aligned">Empty Directory</td></tr>
		{% endif %}
	</tbody>
</table>

{% endblock content %}
