<!DOCTYPE html>
{% load static %}
{% load activeurl %}
<html>
    <head>
        <title>Kaizen {% block title %}{% endblock %}</title>
        <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.css">-->
        <link rel="stylesheet" href="{% static 'semantic/semantic.min.css' %}">
        <!--<link rel="stylesheet" href="{% static 'calendar.css' %}">-->
        {% block link %}{% endblock link %}
    </head>
    <body>
        {% activeurl parent_tag="a" %}
        <nav class="ui top menu">
            <div class="header item">Kaizen Scheduler</div>

            <a class="item" href="{% url 'jobs:instance_list' %}">Search</a>
            <a class="item" href="{% url 'filetree:browse' path='/' %}">Browse</a>
            <a class="item" href="{% url 'jobs:job_list' %}">Jobs</a>
            <a class="item" href="{% url 'repos:list' %}">Repos</a>
            <a class="item" href="{% url 'directives:list' %}">Directives</a>

            <div class="right menu">
                {% if request.user.is_superuser %}
                <a class="item" href="{% url 'accounts:manage' %}">Accounts</a>
                <a class="item" href="#">Settings</a>
                {% endif %}

                {% if request.user.is_authenticated %}
                {# User is logged in, give them a menu with profile and logout buttons #}
                <div class="ui dropdown icon item">
                    <i class="large user icon"></i>
                    <div class="menu">
                        <a class="item" href="{% url 'accounts:detail' %}">Profile</a>
                        <div class="divider"></div>
                        <a class="item" href="{% url 'accounts:logout' %}">Logout</a>
                    </div>
                </div>
                {% else %}
                {# User is not logged in, show them a login button #}
                <a class="item" href="{% url 'accounts:login' %}">Login</a>
                {% endif %}
            </div>
        </nav>
        {% endactiveurl %}

        <main class="ui page container">
        {% block content %}
        {% endblock %}
        </main>

        <!-- Load from static
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js"></script>
            -->
            <script src="{% static 'jquery/jquery.min.js' %}"></script>
            <script src="{% static 'semantic/semantic.min.js' %}"></script>

            {% block body_script %}{% endblock body_script %}

            <script>
              $(".ui.dropdown").dropdown();
              $(".ui.form").form();
              $('.tabular.menu .item').tab();
              $('.ui.accordion').accordion();
            </script>
    </body>
</html>
