{% if directive.result_counts.SUCCESS %}
<div class="green statistic">
    <div class="value">{{ directive.result_counts.SUCCESS }}</div>
    <div class="label">Success</div>
</div>
{% endif %}
{% if directive.result_counts.PENDING %}
<div class="grey statistic">
    <div class="value">{{ directive.result_counts.PENDING }}</div>
    <div class="label">Pending</div>
</div>
{% endif %}
{% if directive.result_counts.RETRY %}
<div class="grey statistic">
    <div class="value">{{ directive.result_counts.RETRY }}</div>
    <div class="label">Retry</div>
</div>
{% endif %}
{% if directive.result_counts.FAILURE %}
<div class="red statistic">
    <div class="value">{{ directive.result_counts.FAILURE }}</div>
    <div class="label">Failed</div>
</div>
{% endif %}
