{% extends 'base.html' %}
{% load humanize %}
{% load static %}

{% block title %}- Directives{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static 'vis/vis.min.css' %}">
{% endblock link %}

{% block content %}
<h1 class="ui left floated header">
    <i class="code icon"></i>
    <div class="content">
        {{ directive.get_type_display }} - {{ directive.display }}
        <div class="sub header">Submitted by {{ directive.created_by.username }} {{ directive.taskset.date_done | naturaltime }}</div>
    </div>
</h1>

<div class="ui clearing divider"></div>

<div class="ui statistics">{% include 'directives/directive_statistics.html' %}</div>

<div class="ui secondary segment" id="directive-graph" style="height: 30em">
    <div class="ui active inverted dimmer">
        <div class="ui loader"></div>
    </div>
</div>

<table class="ui selectable single line table">
    <thead>
        <tr>
            <th>Task ID</th>
            <th>Result</th>
            <th>Errors</th>
            <th>Status</th>
            <th>Finished</td>
        </tr>
    </thead>
    <tbody>
        {% for task in directive.tasks.all %}
        <tr>
            <td>{{ task.task_id }}</td>
            <td>{{ task.result }}</td>
            <td>{% if task.traceback %}<a href="#" onclick="$('#directive_{{ task.task_id }}_errors_modal').modal('show')">Errors</a>{% endif %}</td>
            <td>{{ task.status }}</td>
            <td>{{ task.date_done | naturaltime }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% for task in directive.tasks.all %}
{% if task.traceback %}
<div id="directive_{{ task.task_id }}_errors_modal" class="ui modal">
    <i class="close icon"></i>
    <div class="header">Directive Errors</div>
    <div class="content">
        <div class="ui segment">
            <div class="description"><pre>{{ task.traceback }}</pre></div>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}

{% endblock content %}

{% block body_script %}
<script src="{% static 'vis/vis.min.js' %}"></script>
<script type="text/javascript">
{% include 'directives/directive_graph.js' %}
</script>
{% endblock body_script %}
