{% extends 'base.html' %}
{% load activeurl %}
{% load humanize %}
{% load semanticui %}

{% block content %}
<h1 class="ui left floated header">
    <i class="code icon"></i>
    <div class="content">
        Issue Directive
        <div class="sub header">Some description</div>
    </div>
</h1>

<div class="ui hidden fitted clearing divider"></div>

{% activeurl parent_tag="a" %}
<div class="ui pointing menu">
    <a class="item" href="{% url 'directives:issue:load_rungroup' %}">Load Rungroup</a>
    <a class="item" href="{% url 'directives:issue:add_job' %}">Add Job</a>
    <a class="item" href="{% url 'directives:issue:load_job' %}">Load Job</a>
    <a class="item" href="{% url 'directives:issue:kill_ji' %}">Kill Job Instance</a>
    <a class="item" href="{% url 'directives:issue:run_ji' %}">Run Job Instance</a>
</div>
{% endactiveurl %}

<div class="ui segment">
    {{ form.description }}
    {{ form.errors }}
    <p>{{ form.non_field_errors }}</p>
    <form class="ui form" method="POST">
        {% csrf_token %}
        {{ form | semanticui }}
        <button class="ui submit primary button">Submit</button>
        <a href="{% url 'directives:list' %}">Cancel</a>
    </form>
</div>

{% endblock content %}
