{% extends 'base.html' %}
{% load humanize %}

{% block title %}- Directives{% endblock %}

{% block content %}
<h1 class="ui left floated header">
    <i class="code icon"></i>
    <div class="content">
        Directives
        <div class="sub header">List of all directives (restricted by what?).</div>
    </div>
</h1>

<a class="ui right floated basic button" title="Issue Directive" href="{% url 'directives:issue:load_rungroup' %}"><i class="add icon"></i> Issue Directive</a>

<div class="ui clearing divider"></div>

<div class="ui middle aligned list">
    {% for directive in directive_list %}
    <div class="item">
        <div class="right floated content">
            <div class="ui mini statistics">{% include 'directives/directive_statistics.html' %}</div>
        </div>
        <i class="ui code icon"></i>
        <div class="content">
            <a class="header" href="{% url 'directives:detail' directive.id %}">{{ directive.get_type_display }} - {{ directive.display }}</a>
            <div class="description">Submitted by {{ directive.created_by.username }} {{ directive.taskset.date_done | naturaltime }}</div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
