<!DOCTYPE html>
{% load semanticui %}
{% load static %}
<html>
    <head>
        <title>Kaizen Login</title>
        <link rel="stylesheet" href="{% static 'semantic/semantic.min.css' %}">
    </head>
    <body>
        <div class="ui middle aligned center aligned grid" style="height: 100%">
            <div class="column" style="max-width: 450px">
                <h1>Login to Kaizen Scheduler</h1>

                {% if next %}
                {% if user.is_authenticated %}
                <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
                {% else %}
                <p>Please login to see {{ next }}.</p>
                {% endif %}
                {% endif %}

                {% if form.errors %}
                {% for error in form.non_field_errors %}
                <div class="ui negative message"><div class="header">{{ error }}</div></div>
                {% endfor %}
                {% endif %}

                <form class="ui form" method="post" action="{% url 'accounts:login' %}">
                    {% csrf_token %}
                    {{ form | semanticui }}
                    <button class="ui primary button" type="submit">Login</button>
                    {# Assumes you setup the password_reset view in your URLconf #}
                    <a href="{% url 'accounts:password_reset' %}">Lost password?</a>
                    <input type="hidden" name="next" value="{{ next }}" />
                </form>
            </div>
        </div>
    </body>
</html>
