{% extends 'base.html' %}
{% load activeurl %}

{% block content %}
<h1 class="ui left floated header">
    <i class="users icon"></i>
    <div class="content">
        Manage Accounts
        <div class="sub header">Create and manage users and groups</div>
    </div>
</h1>

<div class="ui hidden fitted clearing divider"></div>

{% activeurl parent_tag="a" %}
<div class="ui pointing menu">
    <a class="item" href="{% url 'accounts:users' %}">Users</a>
    <a class="item" href="{% url 'accounts:groups' %}">Groups</a>

    <div class="right menu">
    </div>
</div>
{% endactiveurl %}

<div class="ui segment">
    {% block manage_content %}{% endblock %}
    <p></p>
</div>
{% endblock %}
