{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% load job_definitions %}

{% block title %}- {{ job.name }}{% endblock %}

{% block body_script %}
<script src="{% static 'chartjs/Chart.bundle.min.js' %}"></script>
<script>
var data = {
  labels: [
    "D20161001", "D20161002", "D20161003", "D20161004",
    "D20161001", "D20161002", "D20161003", "D20161004",
    "D20161001", "D20161002", "D20161003", "D20161004"
  ],
  datasets: [
  {
    backgroundColor: [
      'red', 'green', 'green', 'green',
      'red', 'red', 'green', 'green',
      'green', 'green', 'green', 'green'
    ],
    data: [
      100, 167, 80, 90,
      100, 120, 69, 150,
      90, 60, 80, 95
    ],
  }
  ]
};

var options = {
  legend: { display: false },
  scales: {
    xAxes: [{
      barThickness: 10,
    }]
  }
};

var historyBarChart = new Chart($('#historyBarChart'), {
  type: 'bar',
  data: data,
  options: options
});
</script>
{% endblock body_script %}

{% block content %}
<h1 class="ui left floated header">
  {# Would be nice if this icon could be related to the router type? #}
  <i class="terminal icon"></i>
  <div class="content">
    {{ job.path }}
    <div class="sub header">No description</div>
  </div>
</h1>

<a class="ui right floated basic button {% if not job.next_definition.is_valid %}disabled{% endif %}" href="{% url 'directives:issue:load_job' %}?job={{ job.id }}&rungroup={{ job.next_definition.next_rungroup }}">Load Job</a>

<div class="ui clearing divider"></div>

{# <h2>Job History</h2> #}
<!--<canvas id="historyBarChart" height="40"></canvas> -->

<h2>Next Definition</h2>

{% if job.next_definition.errors %}
<div class="ui icon error message">
  <i class="remove icon"></i>
  <div class="content">
    <div class="header">Invalid job definition!</div>
    <p>We were unable to parse the job definiton file for this job.
    Take a look at the <a href="#" onclick="$('#def_parse_errors_modal').modal('show')">errors</a>.
    </p>
  </div>
</div>
<div id="def_parse_errors_modal" class="ui modal">
  <i class="close icon"></i>
  <div class="header">Definition Parse Errors</div>
  <div class="content">
    <div class="ui segment">
        <div class="description">
            {% for error in job.next_definition.errors %}<pre>{{ error }}</pre>{% endfor %}
        </div>
    </div>
  </div>
</div>
{% endif %}

{% if job.next_definition.warnings %}
<div class="ui icon warning message">
  <i class="remove icon"></i>
  <div class="content">
    <div class="header">Warnings in job definition!</div>
    <p>We encountered some warnings whilst parsing the job definiton file for this job.
    Take a look at the <a href="#" onclick="$('#def_parse_warnings_modal').modal('show')">warnings</a>.
    </p>
  </div>
</div>
<div id="def_parse_warnings_modal" class="ui modal">
  <i class="close icon"></i>
  <div class="header">Definition Parse Warnings</div>
  <div class="content">
    <div class="ui segment">
        <div class="description">
            {% for error in job.next_definition.warnings %}<pre>{{ error }}</pre>{% endfor %}
        </div>
    </div>
  </div>
</div>
{% endif %}

<pre>{{ definition_diff }}</pre>

<h2>Latest Instance</h2>

Launched 5 minutes ago

<h2>Recent Instances</h2>
<table class="ui selectable single line table">
  <thead>
    <tr>
      <th>RunGroup</th>
      <th>Instance</th>
      <th>Version</th>
      <th colspan="2">State</th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
    {% for ji in job.instances.all %}
    <tr>
      <td>{{ ji.rungroup }}</td>
      <td>{{ ji.instance }}</td>
      <td title="{{ ji.definition.file.version }}"><code>{{ ji.definition.file.version|slice:":7" }}</code>..</td>
      <td>{{ ji.states.latest }}</td>
      <td>{{ ji.states.latest.timestamp | naturaltime }}</td>
      <td><a href="{% url 'jobs:instance_detail' ji.id %}">Job Instance</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
