{% extends 'base.html' %}

{% block title %}- Jobs{% endblock %}

{% block content %}
<h1 class="ui left floated header">
    <i class="terminal icon"></i>
    <div class="content">
        Jobs
        <div class="sub header">From all repositories</div>
    </div>
</h1>

<div class="ui clearing divider"></div>


<table class="ui selectable single line table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Run Period</th>
            <th>Next Run Group</th>
        </tr>
    </thead>
    <tbody>
        {% for job in job_list %}
        <tr {% if job.next_definition.errors %}class="negative" title="Job definition has errors"
            {% elif job.next_definition.warnings %}class="warning" title="Job definition has warnings"{% endif %}>
            <td><a href="{% url 'jobs:job_detail' job.id %}">{{ job.path }}</a></td>
            <td>{{ job.next_definition.runperiod }}</td>
            {% with job.next_definition.next_rungroup as rungroup %}
            <td><a href="{% url 'jobs:instance_list' %}?rungroup={{ rungroup | default_if_none:"" }}">{{ rungroup | default_if_none:"" }}</a></td>
            {% endwith %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
