{% extends 'base.html' %}
{% load job_definitions %}
{% load humanize %}

{% block title %}- Instance{% endblock %}

{% block content %}
<h1 class="ui left floated header">
    {# Would be nice if this icon could be related to the router type? #}
    <i class="terminal icon"></i>
    <div class="content">
        {{ ji.job.path }}
        <span class="ui tiny label"><a href="{% url 'jobs:instance_list' %}?rungroup={{ ji.rungroup }}">{{ ji.rungroup }}</a></span>
        <div class="sub header">{{ ji.resolved.description | default:"No description" }}</div>
    </div>
</h1>

<a class="ui right floated basic negative button" href="{% url 'directives:issue:kill_ji' %}?job_instances={{ ji.id }}">Kill</a>
<a class="ui right floated basic button {% if ji.state != "LOADED" %}disabled{% endif %}" href="{% url 'directives:issue:run_ji' %}?job_instances={{ ji.id }}">Run</a>
<a class="ui right floated basic button" href="{% url 'directives:issue:load_job' %}?job={{ ji.job.id }}&rungroup={{ ji.rungroup }}&force=true">Reload</a>

<div class="ui clearing divider"></div>

{# Print out any warnings / errors in the job definition #}
{% if ji.resolved.warnings %}
<div class="ui warning message">
    <div class="content">
        There were <a href="#" onclick="$('#warnings_modal').modal('show')">{{ ji.resolved.warnings|length }} warnings</a> loading the job instance.
    </div>
</div>
<div id="warnings_modal" class="ui modal">
    <div class="header">Job Instance Load Errors</div>
    <div class="content">
        {% for error in ji.resolved.warnings %}
        <div class="ui segment"><pre>{{ error }}</pre></div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% if ji.resolved.errors %}
<div class="ui error message">
    <i class="close icon"></i>
    <div class="content">
        There were <a href="#" onclick="$('#errors_modal').modal('show')">{{ ji.resolved.errors|length }} errors</a> loading the job instance.
    </div>
</div>
<div id="errors_modal" class="ui modal">
    <i class="close icon"></i>
    <div class="header">Job Instance Load Errors</div>
    <div class="content">
        {% for error in ji.resolved.errors %}
        <div class="ui segment"><pre>{{ error }}</pre></div>
        {% endfor %}
    </div>
</div>
{% endif %}

<h2>Logs</h2>

<pre style="background-color: black; color: white; padding: 2px" id="log"></pre>

<h2>States</h2>
<div class="ui feed">
    {% for state in ji.states.all %}
    <div class="event">
        <div class="label"><i class="settings icon"></i></div>
        <div class="content">
            <div class="summary">
                <code>{{ state.name }}</code>
                <div class="date" title="{{ state.timestamp }}">{{ state.timestamp | naturaltime }}</div>
            </div>
            <div class="extra text"><pre>{{ state.pretty_data | default_if_none:"" | urlize }}</pre></div>
        </div>
    </div>
    {% endfor %}
</div>

<h2>Dependencies</h2>
Insert timings / dependencies info here

<h2>Definition</h2>
<div class="ui top attached tabular menu">
    <a class="item active" data-tab="resolved">Resolved</a>
    <a class="item" data-tab="raw">Raw</a>
</div>
<div class="ui bottom attached tab segment active" data-tab="resolved">
    <pre>{{ ji.resolved|pretty_definition | urlize }}</pre>
</div>
<div class="ui bottom attached tab segment" data-tab="raw">
    <pre>{{ ji.definition.file.content | urlize }}</pre>
</div>

{% endblock %}

{% block body_script %}
<script type="text/javascript">
{% include 'jobs/jobinstance_logs.js' %}
</script>
{% endblock body_script %}
