{% extends 'base.html' %}
{% load humanize %}
{% load semanticui %}

{% block title %}- Instances{% endblock %}

{% block content %}
<h1 class="ui left floated header">
  <i class="terminal icon"></i>
  <div class="content">
    Search Job Instances
    <div class="sub header">Search for job instances by name, repository and run group.</div>
  </div>
</h1>

<div class="ui clearing divider"></div>

<div class="ui accordion">
  <div class="title {% if not request.GET %}active{% endif %}">
    <i class="dropdown icon"></i>
    Filter Form
  </div>
  <div class="content {% if not request.GET %}active{% endif %}">
    <form class="ui form" method="GET">
      {{ form | semanticui }}
      <button class="ui submit primary button">Search</button>
    </form>
  </div>
</div>

<div class="ui divider"></div>

<table class="ui selectable single line table">
  <thead>
    <tr>
      <th>Job</th>
      <th>Run Group</th>
      <th>State</th>
      <th>Last Updated</th>
    </tr>
  </thead>
  <tbody>
    {% for ji in jobinstance_list %}
    <tr {% if 'FAILED' in ji.states.latest.name %}class="negative"{% endif %}>
      <td><a href="{% url 'jobs:instance_detail' ji.id %}">{{ ji.job.path }}</a></td>
      <td>{{ ji.rungroup }}</td>
      <td>{{ ji.states.latest }}</td>
      <td>{{ ji.states.latest.timestamp | naturaltime }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
