{# A list of repos as UI cards #}
<div class="ui cards">
    {% for repo in team.repos.all %}
    <a class="ui card" href="{% url 'repos:detail' repo.id %}">
        <div class="content">
            <div class="header">
                {{ repo.name }} <span class="ui tiny label">{{ repo.key }}</span>
            </div>
            <div class="description">{{ repo.description }}</div>
        </div>
        <div class="extra content">
            <i class="terminal icon"></i> {{ repo.jobs.all.count }} job{% if repo.jobs.all.count != 1 %}s{% endif %}
        </div>
    </a>
    {% endfor %}
</div>
