{% extends 'base.html' %}
{% load humanize %}

{% block title %}- Repositories{% endblock %}

{% block content %}
<h1 class="ui left floated header">
  <i class="database icon"></i>
  <div class="content">
    Repositories
    <div class="sub header">List of all repositories you are able to access.</div>
  </div>
</h1>

<a class="ui right floated basic button" title="Create Repository" href="{% url 'repos:create' %}"><i class="add icon"></i> Create Repository</a>

<div class="ui clearing divider"></div>

<div class="ui divided items">
  {% for repo in repo_list %}
  <div class="item">
    <div class="content">
      <a class="header" href="{% url 'repos:detail' repo.id %}">{{ repo.path }}</a>
      <div class="description">{{ repo.description }}</div>
      <div class="extra">
        {% with repo as node %}{% include 'filetree/permission_labels.html' %}{% endwith %}
        <a class="ui label" title="jobs" href="{% url 'repos:detail' repo.id %}">
          <i class="terminal icon"></i> {{ repo.jobs.count }}
        </a>
        {% with repo.sync_tasks.latest as task %}
        {% if task.result.status == 'STARTED' or task.result.status == 'PENDING' %}
        <i title="sync pending" class="notched circle loading icon"></i>
        {% elif task.result.status == 'SUCCESS' %}
        <i title="sync succeeded" class="green checkmark icon"></i>
        {% elif task.result.status == 'FAILURE' %}
        <i title="sync failed" class="red remove icon"></i>
        {% endif %}
        {% endwith %}
        Updated {{ repo.sync_tasks.latest.created_at | naturaltime }}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
