{% extends 'base.html' %}
{% load humanize %}
{% load nodes %}

{% block title %}- {{ repo.name }}{% endblock %}

{% block content %}
<h1 class="ui left floated header">
  <i class="database icon"></i>
  <div class="content">
    {{ repo.path }}
    <div class="sub header">
      {% with repo as node %}{% include 'filetree/permission_labels.html' %}{% endwith %}
      {{ repo.description }}
    </div>
  </div>
</h1>

{% if request.user|can_execute:repo %}
<a class="ui right floated negative basic icon button" title="Delete" href="{% url 'repos:delete' repo.id %}"><i class="trash icon"></i></a>
<a class="ui right floated basic icon button" title="Edit" href="{% url 'repos:edit' repo.id %}"><i class="settings icon"></i></a>
<a class="ui right floated basic button" title="Synchronise" href="{% url 'repos:sync' repo.id %}"><i class="refresh icon"></i> Sync</a>
{% endif %}

<div class="ui clearing divider"></div>

{% with repo.sync_tasks.latest as task %}
{% if task.result.status == 'STARTED' or task.result.status == 'PENDING' %}
<div class="ui icon message">
  <i class="notched circle loading icon"></i>
  <div class="content">
    <div class="header">Just one second...</div>
    <p>We're synchronising your job specs with <code>{{ repo.url }}</code> at commitish <code>{{ repo.commitish }}</code>.
    </p>
  </div>
</div>
{% elif task.result.status == 'SUCCESS' %}
<div class="ui icon success message">
  <i class="checkmark icon"></i>
  <div class="content">
    <div class="header">Sync Succeeded!</div>
    <p>We finished synchronising your job specs to commitish <code>{{ repo.commitish }}</code> {{ task.created_at | naturaltime }}.
    Now running at commit hash <code>{{ repo.commit_hash | slice:":7" }}</code>...
    </p>
  </div>
</div>
{% elif task.result.status == 'FAILURE' %}
<div class="ui icon error message">
  <i class="remove icon"></i>
  <div class="content">
    <div class="header">Sync Failed!</div>
    <p>We failed to synchronise your job specs from <code>{{ repo.url }}</code> {{ task.created_at | naturaltime }}.
    See the <a href="#" onclick="$('#sync_task_errors_modal').modal('show')">stack trace</a>.
    </p>
  </div>
</div>
<div id="sync_task_errors_modal" class="ui modal">
  <i class="close icon"></i>
  <div class="header">Synchronization Errors</div>
  <div class="content">
    <div class="ui segment">
      <div class="header"><pre>{{ task.result.info.exc_type }}</pre></div>
        <div class="description"><pre>{{ task.result.traceback }}</pre></div>
    </div>
  </div>
</div>
{% endif  %}
{% endwith %}


<h2>Jobs</h2>
<table class="ui celled structured striped selectable table">
  <thead>
    <tr>
      <th rowspan="2">Path in Repo</th>
      <th colspan="3">Next Definition</th>
    </tr>
    <tr>
      <th>Run Period</th>
      <th>Version</th>
      <th>Valid</th>
    </tr>
  </thead>
  <tbody>
    {% if repo.jobs.exists %}
    {% for job in repo.jobs.all %}
    <tr {% if not job.next_definition.is_valid %}class="negative"{% endif %}>
      <td><a href="{% url 'jobs:job_detail' job.id %}">{{ job.repo_path }}</a></td>
      <td>{{ job.next_definition.runperiod }}</td>
      <td><code title="{{ job.next_definition.file.version }}">{{ job.next_definition.file.version | slice:":7" }}..</code></td>
      <td>
        {% if job.next_definition.is_valid %}
        <i class="green checkmark icon"></i>
        {% else %}
        <i class="red remove icon"></i>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
    {% else %}
    <tr><td colspan="4" class="disabled center aligned">No Jobs</td></tr>
    {% endif %}
  </tbody>
</table>

<h2>Feed</h2>
<div class="ui feed">
  {% if repo.files.exists %}
  {% for file in repo.files.all %}
  {% with file.definition as def %}
  <div class="event">
    <div class="label">
      <i class="{% if not def.is_valid or def.errors %}red remove{% elif def.warnings %}yellow warning{% else %}green check{% endif %} circle outline icon"></i>
    </div>
    <div class="content">
      <div class="summary">
        {% if def.is_valid %}
        Successfully updated job definition for {{ def.name }}.
        {% else %}
        Failed to parse job definition for {{ def.name }}.
        {% endif %}
        <div class="date">{{ file.created_at | naturaltime }}</div>
      </div>
      <div class="extra text">
        {% if def.is_valid %}Parsed{% else %}Failed to parse{% endif %} definition for {{ def.name }} from version <code title="{{ file.version }}">{{ file.version|slice:":7" }}</code>.. of <code>{{ file.path }}</code>.
      </div>
    </div>
  </div>
  {% endwith %}
  {% endfor %}
  {% else %}
  <p>No activity yet!</p>
  {% endif %}
</div>

{% endblock content %}
