{% extends 'base.html' %}

{% block content %}
<div class="ui raised red segment">
  <h2 class="ui header">
    Delete {{ repo.name }}?
    <div class="sub header">Are you sure you want to delete {{ repo.name }}?</div>
  </h2>
  <form class="ui form" method="POST">
    {% csrf_token %}
    <button class="ui negative submit button">Yes</button>
    <a class="ui basic button" href="{% url 'repos:detail' repo.id %}">No</a/>
  </form>
</div>
{% endblock content %}
