{% extends 'base.html' %}
{% load semanticui %}

{% block content %}
<h1>Modify Repository</h1>
<form class="ui form" method="POST">
    {% csrf_token %}
    {{ form | semanticui }}
    <button class="ui submit primary button">Save</button>
    <a href="{% url 'repos:detail' repo.id %}">Cancel</a>
</form>
{% endblock %}
